extends ../layout.pug

block content
	.container.full-height
		.row.justify-content-center
			.main-logo-container.col-12.col-sm-8.col-md-5
				img(src="/public/images/tempusxxi.svg", alt="Tempus XXI Logo")
		.row.justify-content-center
			.fake-card.col-12.col-sm-8.col-md-4
				h1 Descubre el sonido de tu alma
				button.btn.large.facebook#login
					img(src="/public/images/facebook.svg", alt="Facebook Logo")
					p Iniciar con Facebook
	
	script.
		window.fbAsyncInit = function() {
			FB.init({
			appId      : '241030339991999',
			cookie     : true,
			xfbml      : true,
			version    : 'v3.3'
			});
			
			FB.AppEvents.logPageView();

			FB.getLoginStatus(function(response){
				statusChangeCallback(response);
			});
			
		};

		(function(d, s, id){
			var js, fjs = d.getElementsByTagName(s)[0];
			if (d.getElementById(id)) {return;}
			js = d.createElement(s); js.id = id;
			js.src = "https://connect.facebook.net/en_US/sdk.js";
			fjs.parentNode.insertBefore(js, fjs);
		}(document, 'script', 'facebook-jssdk'));