extends ../layout.pug

block content
	.container.full-height
		.row.justify-content-center
			.main-logo-container.col-12.col-sm-8.col-md-5.this-tilts(data-tilt-full-page-listening)
				img(src="/public/images/tempusxxi.svg", alt="Tempus XXI Logo")
		.row.justify-content-center
			.fake-card.col-12.col-sm-8.col-md-4#appender
				h1.removeItem Descubre el sonido de tu alma
				button.btn.large.facebook.removeItem#login(disabled)
					img(src="/public/images/facebook.svg", alt="Facebook Logo")
					p Iniciar con Facebook
	
	script.
		document.addEventListener('DOMContentLoaded', function(){
			window.fbAsyncInit = function() {
				FB.init({
				appId      : '241030339991999',
				cookie     : true,
				xfbml      : true,
				version    : 'v3.2'
				});
				
				FB.AppEvents.logPageView();
				FB.getLoginStatus(function(response){
					if(response.status === 'connected'){
						testAPI();
					} else {
						LOGIN.loginListener();
					}
				});
			};
			(function(d, s, id){
				var js, fjs = d.getElementsByTagName(s)[0];
				if (d.getElementById(id)) {return;}
				js = d.createElement(s); js.id = id;
				js.src = "https://connect.facebook.net/en_US/sdk.js";
				fjs.parentNode.insertBefore(js, fjs);
			}(document, 'script', 'facebook-jssdk'));
			VanillaTilt.init(document.querySelectorAll(".this-tilts"), {
				axis: 'x',
				max: 10,
				perspective: 2500,
				speed: 1000,
				reset: false
			});
		});