extends ../layout.pug

block content
	.container.full-height
		.row.justify-content-center
			.main-logo-container.col-12.col-sm-8.col-md-5
				img(src="/public/images/tempusxxi.svg", alt="Tempus XXI Logo")
		.row.justify-content-center
			.fake-card.col-12.col-sm-8.col-md-4