.btn{
	flex-container()
	&.facebook{
		background $c-blue
		color $c-white-extra
		&:hover{
			background darken($c-blue, 10%)
		}
	}
	&.large{
		height 57px
		width 328px
	}
	p{
		margin 0
	}
	img{
		height 32px
		margin-right 20px
		width auto
	}
}