.admin-left-nav-anchor{
	border-color transparent
	span{
		color $c-black
	}
	&:hover{
		border-color $c-white-extra
		span{
			color $c-pink
		}
	}
	&.active{
		border-color $c-pink
	}
}
.custom-anchor-admin{
	color #a0aec0
	&:hover{
		color #a0aec0
	}
}
.custom-button-admin{
	background $c-blue
	&:hover{
		background darken($c-blue, 20%) !important
	}
}
.custom-input-admin{
	&:focus, &:active{
		border 1px solid $c-orange !important
		box-shadow 0 0 2px $c-orange
	}
}
.no-underline{
	text-decoration none !important
}
.text-admin-active{
	color $c-pink
}

button.user-intel{
	position relative
	.floating-block{
		my-shadow(0, 20px, 12px, -10px, darken(#e2e8f0, 10%), .25)
		position-select(50%, 0)
		background white
		border 1px solid rgba(darken(#e2e8f0, 50%), .25)
		margin-top 65px
		max-height 0px
		overflow hidden
		transform translate(-50%, -35px)
		transition all .25s ease-in-out
		width 100%
		z-index -1
		ul{
			li{
				width 100%
				a{
					color $c-white
					display block
					padding 10px 5px
					text-decoration none
					width 100%
					&:hover{
						background rgba(#e2e8f0, .25)
						// color $c-black
					}
				}
			}
		}
	}
	&:hover{
		.floating-block{
			position-select(50%, 0)
			max-height 100px
			opacity 1
			pointer-events auto
			z-index 20
		}
	}
}

.table-body-users{
	tr{
		&:nth-child(even){
			background #f7fafc !important
		}
	}
}