.main-logo-container{
	flex-container()
	margin-bottom 50px
	img{
		height auto
		width 100%
	}
}

#appender{
	position relative
	.wave{
		position-select(50%, 50%)
		height 70px
		opacity 1
		transform translate(-50%, -50%)
		transition all .25s ease-in-out
		width 70px
		z-index 100
		&:after, &:before{
			position-select(50%, 50%)
			animation wave 1.2s cubic-bezier(0,0.2,0.8,1) infinite
			border 4px solid $c-orange
			border-radius 50%
			content ''
			height 100%
			opacity 1
			transform translate(-50%, -50%) scale(0)
			width 100%
		}
		&:after{
			animation-delay -0.4s
		}
		&.remove{
			opacity 0
		}
	}
}

@keyframes wave{
	0%{
		opacity 1
		transform translate(-50%, -50%) scale(0)
	}
	100%{
		transform translate(-50%, -50%) scale(1)
		opacity 0
	}
}