.floating-menu
	a(href="#") Acerca de TempusXXI
	a(href="#") Términos y Condiciones
footer.main-footer
	.outsource-logos
		.invader
			p Proyecto Nacido en
			img(src="/public/images/invader-institute.svg", alt="Invader Institute")