doctype

html(lang="es")
	head
		meta(charset="UTF-8")
		meta(name="viewport", content="width=device-width, initial-scale=1.0, maximum-scale=1.0")
		meta(http-equiv="X-UA-Compatible", content="ie=edge")
		title=title
		link(rel="stylesheet", href="/public/css/vendors/css-vendors.min.css")
		link(href="https://fonts.googleapis.com/css?family=Lato:300,400,700", rel="stylesheet")
		link(rel="stylesheet", href="/public/css/main.min.css")
		script(src="https://sdk.accountkit.com/en_US/sdk.js")
	body
		include messages.pug
		include cursor.pug
		block content
		include footer.pug

		script(src="/vendors/rellax/rellax.js")