div(class="w-full lg:w-1/5 lg:px-6 text-xl text-gray-800 leading-normal")
	p(class="text-base font-bold py-2 lg:pb-6 text-gray-700") Menú
	div(class="w-full sticky inset-0 hidden h-64 lg:h-auto overflow-x-hidden overflow-y-auto lg:overflow-y-hidden lg:block mt-0 z-20")
		ul.list-reset
			li(class="py-2 md:my-0")
				a.admin-left-nav-anchor.active(href="#", class="block pl-4 align-middle text-gray-700 no-underline border-l-4 border-transparent lg:border-purple-500 lg:hover:border-purple-500")
					span(class="pb-1 md:pb-0 text-sm font-bold") Dashboard
			li(class="py-2 md:my-0 hover:bg-purple-100 lg:hover:bg-transparent")
				a.admin-left-nav-anchor(href="#", class="block pl-4 align-middle text-gray-700 no-underline border-l-4 border-transparent lg:hover:border-gray-400")
					span(class="pb-1 md:pb-0 text-sm font-bold") CRUD